orbs:
  circleci-cli: circleci/circleci-cli@0.1.9
jobs:
  example-job:
    docker:
      # replace with your preferred image
      - image: cimg/base:stable
    steps:
      - circleci-cli/install
workflows:
  example-workflow:
    jobs:
      - example-job
